# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Summarised languages and tools used in the data science field
- Go over some of the libraries used
- Show a few examples of arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. TensorFlow

|Data Science Tools|
|---|
|Jupyter Notebook|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes into hours.
200/60

3.3333333333333335

## Author
Marcus Elliott